body {
    font-family: Arial;
    font-size: 17px;
    padding: 150px;
    background-image: url("deliveryBox.png");
    background-repeat: no-repeat;
    background-size: cover;
}


* {
    box-sizing: border-box;
}


.bar {
    text-transform: capitalize;
    font-size: 20px;
    /* Adjust font size to your preference */
    font-weight: normal;
    /* or font-weight: 100; */
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #FFFBE9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


.logo1 img {
    width: 200px;
    height: auto;
    top: 0;
    left: 0;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    font-size: 20px;
    color: #21130d;
}

.navbar ul li a:hover {
    color: #C8B6A6;
    text-decoration: underline;
}

.logo1 i {
    padding: 0.5px;
}

.bar .fa-bars {
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    display: none;
}

.payment-container {
    background-color: #fff;
    padding: 5%;
    border-radius: 30px;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;

}

.btn {

    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
}

.btn:hover {
    background-color: #45a049;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}